@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');


/* color palette reference chart

Deep blue: #004080
Teal: #00707c
Steel gray: #4f4f4f
Chartreuse green: #7fff00
Electric blue: #00ffff
white: #ffffff

*/

html {
    background-color: #4f4f4f;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #00707c;
    margin: 0;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid #00ffff;
    margin: 0;
}

header {
    text-align: center;
    background-color: #004080;
    color: white;
    margin: 0;
    padding: 10px;
}

main {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    background-color: white;
    color: #004080;
}